@{
    ViewData["Title"] = "About Matt";
}



<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
    
        This is the About Matt page.  This exercises Azure Blob Storages.

    </p>
</div>

<img src="https://avitablestorage.blob.core.windows.net/images/mja.jpg" /> 