@{
    ViewData["Title"] = "About Matt";
}



<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
    
        This is the About Matt page.  This exercises Azure Blob Storages.

    </p>
</div>

<div class="flexrow">
    <img src="https://avitablestorage.blob.core.windows.net/images/fam.jpg" class="sideimg"> 
    <div class="infobox rightcol">
        <p>This is my family.  We went on a trip to see family in Vietnam this past summer. It was quite a journey.</p>
    </div>
</div>

<div class="flexrow">
    <img src="https://avitablestorage.blob.core.windows.net/images/guitar.jpg" class="sideimg">
    <div class="infobox rightcol">
        <p>This is me in a recreational setting.</p>
    </div>
</div>

<div class="flexrow">
    <img src="https://avitablestorage.blob.core.windows.net/images/synth.jpg" class="sideimg">
    <div class="infobox rightcol">
        <p>This is my hobby.</p>
    </div>
</div>
