@{
    ViewData["Title"] = "Debug";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<div>
    <ul>
        <li><a href="/api/v1/customers/">List Customers</a></li>
        <li><a href="/api/v1/productCategories/">List Product Categories</a></li>
    </ul>
</div>
