@{
    ViewData["Title"] = "Full Stack Demo";
}



<div>
    <h1 class="text-center mb20">@ViewData["Title"]</h1>

    <div class="flexrow archbox-container bottom-margin">
        <div class="basictext">
            <h3>Introduction</h3>
            <p>
            Hi! This is a demo site I put together for the VCU School of Medicine. As the open position with SOMTech is for a full stack developer,
            my goal was to exercise as much of the development stack as possible to hopefully provide a clearer view of my current skillset.
            </p>
            <p>
            This is not a production ready app! Code needs to be factored out controllers to make it testable, exception handling and user input validation are 
            minimal, the nav is questionable at best, and forget about performance tuning. 

            In some cases I use a technique to simply (re)familiarize myself with it. 
            Because I only had a few days to spin this up, speed of development was of the utmost importance.
            </p>
            <p>
            Two invaluable resources I used for the excersise were ASP.NET In Action and Programming C#. Online MS docs and StackOverflow were my next two candidates.
            </p>
            <p>
            You can retrieve the full source on <a href="https://github.com/avitable/AdvDemo">Github</a>.
            </p>
        </div>

        <div class="basictext">
            <h3>Stack Components Exercised (Or Not)</h3>
            <ul>
                <li class="green">Hardware procurement & configuration</li>
                <li class="green">Database</li>
                <li class="green">Version Control</li>
                <li class="green">Back End Development</li>
                <li class="green">Front End Development</li>
                <li class="green">Responsive Design</li>
                <li class="green">Validation</li>
                <li class="green">Logging</li>
                <li class="red">Requirements / Planning</li>
                <li class="red">Exception Handling</li>
                <li class="red">Testing</li>
                <li class="red">Authentication / Authorization</li>
            </ul>


        </div>
    </div>

    <div class="flexrow archbox-container bottom-margin">
        <div class="archbox">
            <h3>App Components</h3>
            <ul>
                <li>ASP.NET 8 / .NET 8: Razor Pages, MVC controllers, Minimal API, Web API</li>
                <li>Sql Server 2014</li>
                <li>Azure App Service</li>
                <li>Azure Blob Storage (for images)</li>
            </ul>
        </div>

        <div class="archbox">
            <h3>Dev Tools</h3>
            <ul>
                <li>Windows 11 on Macbook Pro via Paralells.</li>
                <li>Visual Studio 2022</li>
                <li>SSMS</li>
                <li>Git Bash</li>
                <li>ESLint</li>
            </ul>
        </div>

        <div class="archbox">
            <h3>Database</h3>
            <ul>
                <li>Entity Framework Core (scaffolded then customized)</li>
                <li>AdventureWorks</li>
                <li>Connection Strings in Environment Variables</li>
            </ul>
        </div>

        <div class="archbox">
            <h3>Frontend</h3>
            <ul>
                <li>jQuery</li>
                <li>Datatables</li>
                <li>CSS Flexbox w/ Media Queries</li>
                <li>Bootstrap (shipped with template, and had some handy nav)</li>
            </ul>
        </div>
    </div>

</div>

<h1 class="text-center">About Me</h1>

<div class="flexrow bottom-margin">
    <img src="https://avitablestorage.blob.core.windows.net/images/fam.jpg" class="sideimg">
    <div class="infobox rightcol">
        <p>
            I'm a New York native who arrived in Richmond for college before the turn of the century.  
            </p>
            <p>
            The picture on the left is my family on a trip to see more family in Vietnam. Vietnam was amazing, and very hot!  My wife Michelle and I have been married 
            for nearly 19 years and we have two daughters, one in middle school and the other in high school.
            </p>
            <p>
            When life is not so busy with homework or school, the girls and I will get some gaming time in playing Mario Kart, Streets of Rage 4, 
            or slowly completing Final Fantasy 7 Rebirth (projected completion year 2026).
            </p>
        </p>
    </div>
</div>

<div class="flexrow bottom-margin">
    <img src="https://avitablestorage.blob.core.windows.net/images/guitar.jpg" class="sideimg">
    <div class="infobox rightcol">
        <p>I'm one of the guitarists for What's Our Age Again, a 90's and 2000's tribute band that plays pop punk and emo. This picture
            was last year at the Broadberry. Squad goals are eventually to sell out the venue - we were within 15 or so at this show.  Catch us next at River City Roll on Friday, Nov. 15th.
        </p>
        <p>
            Believe it or not, I never listened to much pop punk or emo in my youth, though I've gained an appreciation of the styles since joining the band many a moon ago.
            Most of my favorite music comes from bands such as Pavement, Archers of Loaf, My Bloody Valentine, Hum, Duster, Helvetia, Deathcab, and Joan of Arc. 
            Recently I've been on a metal kick with Mastodon.
        </p>
    </div>
</div>

<div class="flexrow bottom-margin">
    <img src="https://avitablestorage.blob.core.windows.net/images/synth.jpg" class="sideimg">
    <div class="infobox rightcol">
        <p>
            When I have time, I make beeps and boops with a small collection of synthesizers. I'm a recent member of the Richmond Synth Collective.
            If you too have synthed, my collection includes:

            <ul>
                <li>Moog Grandmonther</li>
                <li>Roland SP-404 MK2</li>
                <li>Modal Cobalt 8</li>
                <li>Moog DFAM</li>
                <li>Elektron Digitone</li>
            </ul>
        </p>
    </div>
</div>
