@{
    ViewData["Title"] = "Full Stack Demo";
}



<div>
    <h1 class="text-center mb20">@ViewData["Title"]</h1>

    <div class="flexrow archbox-container bottom-margin">
        <div class="basictext">
            <h3>Introduction</h3>
            <p>
            Hi! This is a demo site I put together for the VCU School of Medicine. As the open position with SOMTech is for a full stack developer,
            my goal was to exercise as much of the stack as possible, to provide a hopefully clearer view of my current skillset.
            </p>
            <p>
            This is not a production ready app!  Code needs to be factored out of the Razor code behind to make it testable, exception handling is 
            minimal, more user input validation needs to be done, better nav.  In some cases I use a technique to simply (re)familiarize myself myself with it. 
            </p>
            <p>
            Two invaluable resources I used for the excersise were ASP.NET In Action and Programming C#.  Online MS docs and StackOverflow were my next two candidates.
            </p>
            <p>
            You can retrieve the full source on <a href="https://github.com/avitable/AdvDemo">Github</a>.
            </p>
        </div>

        <div class="basictext">
            <h3>Stack Components Exercised (Or Not)</h3>
            <ul>
                <li class="green">Hardware procurement & configuration</li>
                <li class="green">Database</li>
                <li class="green">Back End Development</li>
                <li class="green">Front End Development</li>
                <li class="green">Version Control</li>
                <li class="green">Validation</li>
                <li class="green">Logging</li>
                <li class="red">Requirements / Planning</li>
                <li class="red">Exception Handling</li>
                <li class="red">Testing</li>
                <li class="red">Authentication / Authorization</li>
            </ul>


        </div>
    </div>

    <div class="flexrow archbox-container bottom-margin">
        <div class="archbox">
            <h3>App Components</h3>
            <ul>
                <li>ASP.NET 8 / .NET 8: Razor Pages, MVC controllers, Minimal API, Web API</li>
                <li>Sql Server 2014</li>
                <li>Azure App Service</li>
                <li>Azure Blob Storage (for images)</li>
            </ul>
        </div>

        <div class="archbox">
            <h3>Dev Tools</h3>
            <ul>
                <li>Windows 11 on Macbook Pro via Paralells.</li>
                <li>Visual Studio 2022</li>
                <li>SSMS</li>
                <li>Git Bash</li>
                <li>ESLint</li>
            </ul>
        </div>

        <div class="archbox">
            <h3>Database</h3>
            <ul>
                <li>Entity Framework Core (scaffolded then customized)</li>
                <li>AdventureWorks</li>
                <li>Connection Strings in Environment Variables</li>
            </ul>
        </div>

        <div class="archbox">
            <h3>Frontend</h3>
            <ul>
                <li>jQuery</li>
                <li>Datatables</li>
                <li>CSS Flexbox w/ Media Queries</li>
                <li>Bootstrap (shipped with template, and had some handy nav)</li>
            </ul>
        </div>
    </div>

</div>

<h1 class="text-center">About Me</h1>

<div class="flexrow bottom-margin">
    <img src="https://avitablestorage.blob.core.windows.net/images/fam.jpg" class="sideimg">
    <div class="infobox rightcol">
        <p>This is my family this past summer, when went on a trip to see family in Vietnam.  It was quite a trip, and though we were busy with
            family much of the time, we were able to experience a slice of Vietnamese culture and history. 

            When life is not so busy with homework or school, the girls and I will get in some time playing Mario Kart, Streets of Rage 4, 
            or completing Final Fantasy 7 Rebirth (which we expect to finally achieve in 2026), 
        </p>
    </div>
</div>

<div class="flexrow bottom-margin">
    <img src="https://avitablestorage.blob.core.windows.net/images/guitar.jpg" class="sideimg">
    <div class="infobox rightcol">
        <p>I'm one of the guitarists for What's Our Age Again, a 90's and 2000's tribute band.  We play quite a bit of pop punk and emo selections from our youth. This picture
            was last year at the Broadberry. Squad goals are eventually to sell out the venue - we were within 15 or so at this show.  Catch us next at River City Roll on Friday, Nov. 15th.
        </p>
    </div>
</div>

<div class="flexrow bottom-margin">
    <img src="https://avitablestorage.blob.core.windows.net/images/synth.jpg" class="sideimg">
    <div class="infobox rightcol">
        <p>
            When I have time 
        </p>
    </div>
</div>
