@{
    ViewData["Title"] = "About This Page";
}



<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
        Hi! This is a demo site I put together for the VCU School of Medicine. As the open position with SOMTech is for a full stack developer,
        my goal was to exercise as much of the stack as possible, to provide a hopefully clearer view of my current skillset.
        
        This is not a production ready app, and there are inconsistensies in how I accomplish similar tasks.  In some cases I use a technique to simply (re)familiarize myself myself with it. 

        Two invaluable resources I used for the excersise were ASP.NET In Action and Programming C#.

        You can retrieve the full source at <a href="https://github.com/avitable/AdvDemo">Github Project</a>.
    </p>

    <p>
        
        Hardware procurement & configuration: Yes
        Database: Yes
        Back End Development: Yes
        Front End Development: Yes
        Version Control: Yes
        Logging: Yes

        Requirements / Planning: No
        Testing: No
        Authentication: No
        Authorization: No

    </p>

    <div class="flexrow archbox-container bottom-margin">
        <div class="archbox">
            <h3>App Components</h3>
            <p>ASP.NET 8 / .NET 8: Razor Pages, MVC controllers, Minimal API, Web API</p>
            <p>Sql Server 2014</p>
            <p>Azure App Service</p>
            <p>Azure Blob Storage (for images)</p>
            
        </div>

        <div class="archbox">
            <h3>Dev Tools</h3>
            <p>Windows 11 on Macbook Pro via Paralells.</p>
            <p>Visual Studio 2022</p>
            <p>SSMS</p>
            <p>Git Bash</p>
            <p>ESLint</p>
        </div>

        <div class="archbox">
            <h3>Database</h3>
            <p>Entity Framework Core (scaffolded then customized)</p>
            <p>AdventureWorks</p>
            <p>Connection Strings in Environment Variables</p>
        </div>

        <div class="archbox">
            <h3>Frontend</h3>
            <p>jQuery</p>
            <p>Datatables</p>
            <p>CSS Flexbox w/ Media Queries</p>
        </div>
    </div>

</div>

<h1 class="text-center">About Me</h1>

<div class="flexrow bottom-margin">
    <img src="https://avitablestorage.blob.core.windows.net/images/fam.jpg" class="sideimg">
    <div class="infobox rightcol">
        <p>This is my family this past summer, when went on a trip to see family in Vietnam.  It was quite a trip, and though we were busy with
            family much of the time, we were able to experience a slice of Vietnamese culture and history. 

            When life is not so busy with homework or school, the girls and I will get in some time playing Mario Kart, Streets of Rage 4, 
            or completing Final Fantasy 7 Rebirth (which we expect to finally achieve in 2026), 
        </p>
    </div>
</div>

<div class="flexrow bottom-margin">
    <img src="https://avitablestorage.blob.core.windows.net/images/guitar.jpg" class="sideimg">
    <div class="infobox rightcol">
        <p>I'm one of the guitarists for What's Our Age Again, a 90's and 2000's tribute band.  We play quite a bit of pop punk and emo selections from our youth. This picture
            was last year at the Broadberry. Squad goals are eventually to sell out the venue - we were within 15 or so at this show.  Catch us next at River City Roll on Friday, Nov. 15th.
        </p>
    </div>
</div>

<div class="flexrow bottom-margin">
    <img src="https://avitablestorage.blob.core.windows.net/images/synth.jpg" class="sideimg">
    <div class="infobox rightcol">
        <p>
            When I have time 
        </p>
    </div>
</div>
