@{
    ViewData["Title"] = "Customers";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>

<table id="dt"></table>

<script>

    $(() => { 
        
        let d = null;

        $.ajax({
            url: "/api/v1/customers/",
            data: {},
            success: function (result) {

                new DataTable('#dt', {
                    data: result,
                    columns: [
                        { data: "name", title:"Name" },
                        { data: "parentProductCategory.name", title: "Parent Category" },
                        { data: "rowguid", title: "RowGuid" },
                    ]
                });

            },
            Error: (result) => {
                alert("OOOOPs");
            }
        });
    
    });

</script>