@{
    ViewData["Title"] = "Customers";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="text-center" id="spinner">
    <img src="~/icons/spinner.svg"
         alt="spinner"
         height="100"
         width="100" />
</div>

<table id="dt"></table>

<!-- -->

<script>

    $(() => {
        $.ajax({
            url: "/api/v1/customers/",
            data: {},
            beforeSend: function () {
                $("#spinner").display = "visible";
            },
            success: function (result) {

                $("#spinner").hide("puff", 200);

                let dt = new DataTable('#dt', {
                    data: result,
                    processing: true,
                    responsive: true,
                    columns:
                        [
                            { data: "lastName", title: "Last Name" },
                            { data: "firstName", title: "FirstName" },
                            { data: "emailAddress", title: "Email" },
                            { data: "phone", title: "Phone" },
                            {
                                data: null,
                                render: function (data, type, row, meta) {
                                    return '<a href="/Customer/CustomerManagement/' + row.customerId + '">Edit</a>';
                                }
                            }
                        ]
                });

            },
            Error: (result) => {
                alert("OOOOPs");
            }
        });

    });

</script>

<div class="basictext col100" style="margin-top: 15px;">
    <p>
    This page was build from an MVC controller using Datatables for the data display.
    The Datatable calls a Minimal API method which provides customer data from the Adventureworks database.
    In a typical scenario I might offload the paging and sorting to the server.  For the purposes of the
    demo, Datatables just loads all the customers into browser memory, and handles the heavy lifting.
    </p>
</div>